<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/libary/lib.html::head('Đề thi')"></head>
<body >
<!-- Preloader -->
<div id="loading-spinner" class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div >
    <!-- Top Navigation -->
    <nav  class="navbar navbar-default">
        <div class="examcontainer-fluid">
            <div class="examnavbar-header">
                <a  class="examnavbar-brand"  th:text="'Học sinh: ' + ${session.fullName}"></a>
            </div>
            <ul class="nav examnavbar-nav examnavbar-right">
                <li>
                    <button class="btn btn-danger" id="exitExamBtn" onclick="confirmExitExam()">Thoát khỏi bài thi</button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->

    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div >
        <div class="container-fluid" style="padding: 20px ">
            <div class="row">
                <div class="col-lg-9">
                    <div class="white-box">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2>Đề thi: [[${newExam.getName()}]]</h2>
                                <div id="timer" class="timer-circle"></div> <!-- Timer Display -->
                            </div>
                            <div id="quiz-container">
                                <div th:each="examDetail, iterStat : ${examDetailList}" th:attr="data-index=${iterStat.index}" class="question" th:classappend="${iterStat.index == currentIndex} ? 'active' : 'inactive'">
                                    <p class="font-weight-bold">Câu [[${iterStat.index + 1}]]: <span class="latex-content" th:utext="${examDetail.getQuiz().statement}"></span></p>
                                    <p th:if="${examDetail.getQuiz().getImage()} != null">
                                        <img th:src="${examDetail.getQuiz().getImage()}" alt="">
                                    </p>
                                    <ul class="list-group">
                                        <li th:each="quizOption, optStat : ${examDetail.getQuiz().quizOptions}" class="list-group-item">
                                            <label class="d-flex align-items-center">
                                                <input type="radio" th:name="${'option_' + iterStat.index}" th:checked="${examDetail.selectedOption != null and examDetail.selectedOption.id == quizOption.id}" th:onchange="updateSelectedOption([[${examDetail}]], [[${quizOption}]])" class="mr-2">
                                                <span th:text="${'ABCD'.charAt(optStat.index)} + '. '"></span>
                                                <span class="latex-content ml-2" th:utext="${quizOption.option}"></span>
                                            </label>
                                        </li>
                                    </ul>
                                    <!--                                <button type="button" class="btn btn-warning mt-3" onclick="toggleReviewQuestion([[${iterStat.index}]])">Đánh dấu xem lại</button>-->
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">


                                <img id="prevBtn" src="/icons/previous_icon.png" alt="Câu trước" style="width: 40px" onclick="changeQuestion(-1)" />

                                <img id="nextBtn" src="/icons/next_icon.png" alt="Câu trước" style="width: 40px" onclick="changeQuestion(1)">
                                <button id="submitBtn" class="btn btn-success" style="display:none" onclick="checkSubmitExam()">Nộp bài</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="white-box">
                        <div class="question-navigation">
                            <h2>Danh sách câu hỏi</h2>
                            <ul>
                                <li th:each="examDetail, iterStat : ${examDetailList}" th:attr="data-index=${iterStat.index}" th:classappend="${examDetail.selectedOption != null} ? 'answered' : '' + (examDetail.review ? ' review' : '')">
                                    <a href="javascript:void(0)" th:onclick="navigateToQuestion([[${iterStat.index}]])">
                                        <span th:text="${iterStat.index + 1}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let currentIndex = 0;
    let examDetails = [[${examDetailList}]];

    if (!Array.isArray(examDetails)) {
        examDetails = [];
    }

    function showQuestion(index) {
        const questions = document.querySelectorAll('.question');
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        const submitBtn = document.getElementById('submitBtn');

        questions.forEach((question, idx) => {
            question.style.display = idx === index ? 'block' : 'none';
        });

        prevBtn.style.display = index === 0 ? 'none' : 'inline-block';
        nextBtn.style.display = index === questions.length - 1 ? 'none' : 'inline-block';
        submitBtn.style.display = index === questions.length - 1 ? 'inline-block' : 'none';

        updateNavigation();
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: "\\(", right: "\\)", display: false},
                {left: "\\begin{equation}", right: "\\end{equation}", display: true},
                {left: "\\begin{align}", right: "\\end{align}", display: true},
                {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
                {left: "\\begin{gather}", right: "\\end{gather}", display: true},
                {left: "\\begin{CD}", right: "\\end{CD}", display: true},
                {left: "\\begin{tikzpicture}", right: "\\end{tikzpicture}", display: true},
                {left: "\\[", right: "\\]", display: true}
            ],
            ignoredClasses: ["disable-katex-render"],
            throwOnError: false
        });
    }

    function changeQuestion(direction) {
        const questions = document.querySelectorAll('.question');
        currentIndex += direction;
        if (currentIndex < 0) currentIndex = 0;
        if (currentIndex >= questions.length) currentIndex = questions.length - 1;

        showQuestion(currentIndex);
    }

    function navigateToQuestion(index) {
        currentIndex = index;
        showQuestion(currentIndex);
    }

    function updateSelectedOption(examDetail, quizOption) {
        if (quizOption) {
            examDetails.forEach(detail => {
                if (detail.id === examDetail.id) {
                    detail.selectedOption = quizOption;
                    console.log(detail);
                }
            });
        } else {
            console.error(`QuizOption not found.`);
        }

        updateNavigation();
    }

    function toggleReviewQuestion(index) {
        examDetails[index].review = !examDetails[index].review;
        updateNavigation();
    }

    function updateNavigation() {
        const navItems = document.querySelectorAll('.question-navigation li');
        navItems.forEach((navItem, index) => {
            const detail = examDetails[index];
            navItem.classList.remove('answered', 'review'); // Remove both classes initially
            if (detail.selectedOption) {
                navItem.classList.add('answered');
            }
            if (detail.review) {
                navItem.classList.add('review');
            }
        });
    }

    function checkSubmitExam() {
        const unanswered = examDetails.some(detail => !detail.selectedOption);
        if (unanswered) {
            if (!confirm('Bạn chưa trả lời hết tất cả câu hỏi. Bạn có chắc chắn muốn thoát khỏi bài thi không?')) {
                return;
            }
        }
        submitExam();
    }
    function confirmExitExam() {
        const unanswered = examDetails.some(detail => !detail.selectedOption);
        if (unanswered) {
            if (!confirm('Bạn chưa trả lời hết tất cả câu hỏi. Bạn có chắc chắn muốn nộp bài không?')) {
                return;
            }
        }
        window.location.href = `/`;

    }

    function submitExam() {
        document.getElementById('loading-spinner').style.display = 'block';
        console.log('Submitting exam:', examDetails); // Debug
        fetch('/exams/submitExam', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(examDetails)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.text().then(text => { throw new Error(text) });
                }
            })
            .then(result => {
                console.log('Exam submitted successfully, result:', result); // Debug

                // Format startTime and endTime correctly
                const formatter = new Intl.DateTimeFormat('sv-SE', {
                    year: 'numeric', month: '2-digit', day: '2-digit',
                    hour: '2-digit', minute: '2-digit', second: '2-digit'
                });

                const formatDateTime = (dateTime) => {
                    const date = new Date(dateTime);
                    return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}T${String(date.getHours()).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}:${String(date.getSeconds()).padStart(2, '0')}.000`;
                };

                const formattedStartTime = formatDateTime(result.startTime);
                const formattedEndTime = formatDateTime(result.endTime);

                // Redirect with properly formatted times
                window.location.href = `/exams/examResult?score=${result.score}&correctAnswers=${result.correctAnswers}&startTime=${formattedStartTime}&endTime=${formattedEndTime}`;
            })
            .catch(error => {
                console.error('Error submitting exam:', error);
            })
            .finally(() => {
                    document.getElementById('loading-spinner').style.display = 'none'; // Hide the loading spinner
                });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const duration = [[${newExam.duration}]] * 60; // duration in minutes, convert to seconds
        let remainingTime = duration;

        function formatTime(seconds) {
            const hh = Math.floor(seconds / 3600);
            const mm = Math.floor((seconds % 3600) / 60);
            const ss = seconds % 60;
            if (hh > 0) {
                return `${String(hh).padStart(2, '0')}:${String(mm).padStart(2, '0')}:${String(ss).padStart(2, '0')}`;
            } else {
                return `${String(mm).padStart(2, '0')}:${String(ss).padStart(2, '0')}`;
            }
        }

        function updateTimer() {
            if (remainingTime <= 0) {
                submitExam();
            } else {
                document.getElementById('timer').textContent = formatTime(remainingTime);
                remainingTime--;
                setTimeout(updateTimer, 1000);
            }
        }

        showQuestion(currentIndex);
        updateTimer();
        const url = new URL(window.location);
        url.searchParams.delete('quizMatrixId');
        window.history.replaceState({}, document.title, url.pathname);
    });
</script>


</body>
<th:block th:replace="/libary/lib.html::foot"></th:block>
<footer th:replace="/libary/lib.html::footer"></footer>

<style>
    .timer-circle {
        width: 60px;
        height: 60px;
        border: 2px solid #1c80c3;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: black;
    }

    .question-navigation {
        height: 100%;
    }

    .question-navigation ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        gap: 10px;
        list-style: none;
        padding: 0;
    }

    .question-navigation li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .question-navigation li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        text-align: center;
        border: 2px solid #1c80c3;
        border-radius: 50%;
        text-decoration: none;
        color: #1c80c3;
        font-size: 14px;
        box-sizing: border-box;
    }

    .question-navigation li.answered a {
        background-color: #1c80c3;
        color: white;
    }

    .question-navigation li.review a {
        background-color: #f0ad4e;
        color: white;
    }

    .question-navigation li a:hover {
        background-color: #f0f0f0;
    }

    .white-box {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    #quiz-container {
        margin-bottom: 20px;
    }

    .question {
        display: none;
    }

    .question.active {
        display: block;
    }

    .question.inactive {
        display: none;
    }
</style>

</html>
