<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/libary/lib.html::head('Đổi mật khẩu')" > </head>

<body class="fix-sidebar">
<!-- Preloader -->

<div id="wrapper">
    <!-- Top Navigation -->
    <nav th:replace="/libary/lib.html::nav"></nav>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <div th:replace="/libary/lib.html::left_side"></div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <!-- .row -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title m-b-0"> Đổi mật khẩu </h3>
                        <form class="form" action="/user/save_change_password" method="post"  th:object="${user}">
                            <input class="form-control hidden"  type="text"  th:field="*{id}" >

                            <div class="form-group row">
                                <label for="password" class="col-2 col-form-label"> Mật khẩu cũ</label>
                                <div class="col-10">
                                    <input class="form-control" type="password" value="" id="password" th:field="*{oldPassword}" name="password">
                                    <div  th:text="${errormessage}"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newPassword" class="col-2 col-form-label"> Mật khẩu mới</label>
                                <div class="col-10">
                                    <input class="form-control" type="password" value="" id="newPassword" th:field="*{newPassword}" name="rePassword">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="rePassword" class="col-2 col-form-label"> Nhập lại mật khẩu mới</label>
                                <div class="col-10">
                                    <input class="form-control" type="password" value="" id="rePassword" th:field="*{reNewPassword}" name="rew">
                                    <div id="passwordError" style="color: red;"></div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.right-sidebar -->
        </div>
        <!-- /.container-fluid -->
        <footer th:replace="/libary/lib.html::footer"></footer>
    </div>
    <!-- /#page-wrapper -->
</div>

<th:block th:replace="/libary/lib.html :: foot"></th:block>
</body>
</html>
