<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/libary/lib.html::head('Danh sách tài khoản')" > </head>

<body class="fix-sidebar">
<!-- Preloader -->

<div id="wrapper">
    <!-- Top Navigation -->
    <nav th:replace="/libary/lib.html::nav"></nav>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <div th:replace="/libary/lib.html::left_side"></div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <!-- .row -->
        <div class="container-fluid">
            <!-- .row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="white-box ">
                        <h3 class="box-title m-b-0">Danh Sách Tài Khoản</h3>
                        <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle" data-page-size="5">
                            <thead>
                            <tr>
                                <th data-sort-initial="true" data-toggle="true">STT</th>
                                <th data-sort-initial="true" data-toggle="true">Tên Tài Khoản</th>
                                <th data-sort-initial="true" data-toggle="true"> Họ Tên</th>
                                <th data-sort-initial="true" data-toggle="true">Email</th>
                                <th data-sort-initial="true" data-toggle="true">Số Điện Thoại </th>
                                <th data-sort-initial="true" data-toggle="true">Ảnh</th>
                                <th data-sort-initial="true" data-toggle="true">Trạng Thái</th>
                                <th data-sort-ignore="true" class="min-width">Thao Tác</th>
                            </tr>
                            </thead>
                            <div class="form-inline padding-bottom-15">
                                <div class="row">
                                    <div class="col-sm-6 text-right m-b-20">
                                        <div class="form-group">
                                            <input id="demo-input-search2" type="text" placeholder="Tìm kiếm" class="form-control" autocomplete="on">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <tbody>
                            <!--render thong tin user-->
                            <tr th:each="user : ${list_user}">
                                <td th:text="${userStat.index+1}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.fullName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.phoneNumber}"></td>
                                <td >
                                    <img th:src="@{'getimage/' + ${user.avatarUrl}}"  alt="user-img" class="img-circle" style="width: 50px;height: 50px">
                                </td>

                                <td th:text="${user.isStatus() ? 'Bị ban' :'Đang Hoạt động'}"></td>

                                <td>

                                    <a th:if="${!user.isStatus()}"
                                       th:href="@{'/user/locker/' + ${user.id}}"
                                       type="button"
                                       class="btn btn-sm btn-icon btn-pure btn-outline"
                                       data-toggle="tooltip"
                                       style="color:red"
                                       onclick="return confirm('Bạn có muốn khóa tài khoản không ?')">Khóa</a>

                                    <!-- Display the "Mở Khóa" button if the user account is disabled -->
                                    <a th:if="${user.isStatus()}"
                                       th:href="@{'/user/unlocker/' + ${user.id}}"
                                       type="button"
                                       class="btn btn-sm btn-icon btn-pure btn-outline"
                                       data-toggle="tooltip"
                                       style="color:red"
                                       onclick="return confirm('Bạn có muốn mở khóa tài khoản khoan không ?')">Mở Khóa</a>
                                    <a th:href="@{'/user/edit/'+${user.id}}" type="button" class="btn btn-sm btn-icon btn-pure btn-outline update-row-btn" >Cập nhật</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div class="text-right">
                                        <ul class="pagination">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- /.right-sidebar -->
    </div>
    <!-- /.container-fluid -->
    <footer th:replace="/libary/lib.html::footer"></footer>
</div>
<!-- /#page-wrapper -->

<th:block th:replace="/libary/lib.html :: foot"></th:block>

</body>

</html>
