<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/libary/lib.html::head('Danh sách cấp học')"></head>

<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->
    <nav th:replace="/libary/lib.html::nav"></nav>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <div th:replace="/libary/lib.html::left_side"></div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="white-box">
                        <h3 class="box-title m-b-0">Danh sách cấp</h3>
                        <div class="form-inline padding-bottom-15">
                            <div class="row">
                                <div class="col-sm-6 text-right m-b-20">
                                    <div class="form-group">
                                        <input id="demo-input-search2" type="text" placeholder="Tìm kiếm"
                                               class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle">
                            <thead id="table-head">
                            </thead>
                            <tbody id="table-first">
                            </tbody>
                            <tfoot id="table-tfoot">
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/libary/lib.html::footer"></footer>
    </div>
</div>
<th:block th:replace="/libary/lib.html::foot"></th:block>
<script>
    let cachedData = [];
    let currentPage = 1;
    let cureentTotal = 0;
    let size = 10;
    let tmpChapterId;
    document.addEventListener('DOMContentLoaded', function () {
        let quizMatrix = "[[${stringid}]]";
        console.log(quizMatrix);
        tableQuizMatrix(quizMatrix);
    });

    function tableQuizMatrix(chapterId) {
        var formData = new FormData();
        formData.append("chapterId", chapterId);
        fetch('/api/quizMatrices', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                tmpChapterId = chapterId;
                history.replaceState({name: "quizMatrix", data}, 'QuizMatrix');
                size = 10;
                cachedData = data;
                cureentTotal = Math.round(data.length / size);
                currentPage = 1;
                createTableHeader('Các Đề');
                createTableChapter(data, size, 1, editQuizMatrix);
                createPagin(createTableChapter,chapterId);
                change_active('page'+currentPage);
            }).catch(error => {
            console.error('Fetch error:', error);
        });
    }

    function createTableChapter(chapters, size, currentPage, functionName) {
        createTableBody(chapters, size, currentPage, functionName);
    }

    function editQuizMatrix(gradeId) {
        const url = "/quizMatrices/quizMatrixPreview?quizMatrixId=" + gradeId;
        window.location.href = url;
    }

    function createPagin(createTable, chapterId) {
        let tfoot = document.querySelector('#table-tfoot');
        tfoot.innerHTML = '';

        let additionalRow = `<tr>
                                <td colspan="4">
                                    <div class="d-flex justify-content-between align-items-center">`;

            additionalRow +=`<a></a>`;

        additionalRow += `   <div class="text-right">
                                        <ul class="pagination" >
                                            <li class="footable-page-arrow"><a id="first" onclick="check(this, createTable);">«</a></li>
                                            <li class="footable-page-arrow"><a id="prev" onclick="check(this, createTable)">‹</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>`;
        tfoot.innerHTML += additionalRow;
        let paginationUl = tfoot.querySelector('.pagination');
        if(cureentTotal < size){
            let trHTML = `<li class="footable-page" id="page1" onclick="change(this)"><a>1</a></li>`;
            paginationUl.innerHTML += trHTML;
        } else{
            for(let i = 1 ; i <= cureentTotal; i++){
                let trHTML = `<li class="footable-page" id="page${i}" onclick="change(this)"><a>${i}</a></li>`;
                paginationUl.innerHTML += trHTML;
            }
        }

        let nextArrow = `<li class="footable-page-arrow"><a id="next" onclick="check(this, createTable)">›</a></li>
                     <li class="footable-page-arrow"><a id="last" onclick="check(this, createTable)">»</a></li>`;
        paginationUl.innerHTML += nextArrow;
    }


    function change(element) {
        const activeElement = document.querySelector('.footable-page.active');
        if (activeElement) {
            activeElement.classList.remove('active');
        }
        const id = element.id.substring(4);
        currentPage = parseInt(id);
        element.classList.add('active');
        createTable(cachedData, size, id);
    }

    function change_active(element) {
        let x = document.getElementById(element);
        x.classList.add('active');
    }


    function check(element, tableCreationFunction) {
        const id = element.id;
        const activeElement = document.querySelector('.footable-page.active');
        if (activeElement) {
            activeElement.classList.remove('active');
        }
        switch (id) {
            case 'first':
                currentPage = 1;
                change_active('page' + currentPage);
                tableCreationFunction(cachedData, size, 1);
                break;
            case 'prev':
                if (currentPage > 1)
                    currentPage -= 1;
                change_active('page' + currentPage);
                tableCreationFunction(cachedData, size, currentPage);
                break;
            case 'next':
                console.log(currentPage);
                if (currentPage < cureentTotal)
                    currentPage += 1;
                change_active('page' + currentPage);
                tableCreationFunction(cachedData, size, currentPage);
                break;
            case 'last':
                currentPage = cureentTotal;
                change_active('page' + currentPage);
                tableCreationFunction(cachedData, size, currentPage);
                break;
            default:
                break;
        }
    }
    function createTableBody(dataS, size, currentPage, functionName) {
        let tbody = document.querySelector('#demo-foo-addrow tbody');
        tbody.innerHTML = '';
        let x = (currentPage - 1) * size;

        // CSS definitions
        const css = `
        .data-cell {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .data-container {
            display: flex;
            flex-direction: column;
        }
        .name-div {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .name-div i, .info-div i {
            margin-right: 5px;
            font-size: 1.2em; /* Size of icons */
        }
        .info-div i {
            margin-right: 5px;
            font-size: 1.2em; /* Adjusted size of icons */
        }
        .info-div i:before {
            content: attr(title); /* Display tooltip text before icons */
            margin-right: 3px;
            font-size: 0.9em;
        }
        tbody tr:hover {
            background-color: #f5f5f5;
        }
    `;

        const style = document.createElement('style');
        style.type = 'text/css';
        style.appendChild(document.createTextNode(css));
        document.head.appendChild(style);

        for (let i = x; i < size * currentPage && i < dataS.length; i++) {
            const data = dataS[i];
            let tr = tbody.insertRow();
            tr.id = `grade-${data.id}`;

            let td = tr.insertCell();
            td.className = 'data-cell';

            let div = document.createElement('div');
            div.className = 'data-container';

            // Create name section
            let nameDiv = document.createElement('div');
            nameDiv.className = 'name-div';
            nameDiv.setAttribute('data-parameter1', data.id);

            let nameLink = document.createElement('a');
            nameLink.href = '#';
            nameLink.style.textDecoration = 'none';
            nameLink.style.color = 'inherit';
            nameLink.textContent = data.name;
            nameDiv.appendChild(nameLink);
            nameDiv.addEventListener('click', () => functionName(data.id));

            let nameIcon = document.createElement('i');
            nameIcon.className = 'fa fa-user';
            nameDiv.prepend(nameIcon);

            let infoDiv = document.createElement('div');
            infoDiv.className = 'info-div';

            let questionIcon = document.createElement('i');
            questionIcon.className = 'fa fa-question-circle';
            questionIcon.title = 'Số câu hỏi: ' + data.numOfQuiz;
            infoDiv.appendChild(questionIcon);

            let timeIcon = document.createElement('i');
            timeIcon.className = 'fa fa-clock';
            timeIcon.title = 'Thời gian thi: ' + data.defaultDuration; // Tooltip text
            infoDiv.appendChild(timeIcon);

            // Append elements to main div
            div.appendChild(nameDiv);
            div.appendChild(infoDiv);
            td.appendChild(div);
        }
    }



    function createTableHeader(columnName) {
        let thead = document.querySelector('#table-head');
        let headerHTML = `<tr>
                             <th data-sort-initial="true" data-toggle="true">${columnName}</th>`;
        headerHTML += '';


        headerHTML += `</tr>`;
        thead.innerHTML = headerHTML;
    }
</script>
</body>

</html>