<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/libary/lib.html::head('Xác nhận xoá lựa chọn')"></head>

<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->
    <nav th:replace="/libary/lib.html::nav"></nav>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <div th:replace="/libary/lib.html::left_side"></div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="white-box">
                        <h3 class="box-title m-b-20">Xác nhận xoá</h3>
                        <p>Bạn có chắc chắn muốn xoá lựa chọn này không?</p>
                        <p><strong>Tên lớp: </strong><span th:text="${quizOption.option}"></span></p>
                        <p><strong>Cấp học: </strong><span th:text="${quizOption.getQuiz().getStatement()}"></span></p>
                        <form th:action="@{/quizOptions/delete}" th:object="${quizOption}" method="post" id="quizOptionForm">
                            <div class="d-flex justify-content-between">
                                <input type="hidden" th:field="*{id}">
                                <input type="submit" class="btn btn-danger" value="Xoá"/>
                                <a th:href="@{/quizOptions}" class="btn btn-secondary">Huỷ</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/libary/lib.html::footer"></footer>
    </div>
</div>

<th:block th:replace="/libary/lib.html::foot"></th:block>
</body>

</html>