<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/libary/lib.html::head('Trang chủ')"></head>
<style>
    .intro-text {


        color: black;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #1c80c3;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }

    .intro-text2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: white;
        text-align: center;
        border-radius: 10px;
        width: 80%;
        max-width: 850px;
    }

    .intro-text h2 {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }

    .intro-text2 h1 {
        font-size: 72px;
    }

    .intro-text p {
        margin: 10px 0 0;
        font-size: 16px;
    }

    .quiz-matrix-list {
        list-style-type: none;
        padding: 0;
    }

    .quiz-matrix-list li {
        margin-bottom: 5px;
    }

    .quiz-matrix-list li a {
        display: block;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }

    .quiz-matrix-list li a:hover {
        background-color: #e0e0e0;
    }


    }
</style>
<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->
    <nav th:replace="/libary/lib.html::nav"></nav>
    <div th:replace="/libary/lib.html::left_side"></div>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="white-box" sec:authorize="isAnonymous()">
                <img src="/images/bg.png" alt="Background Image">
                <div class="intro-text2" style="display: flex;flex-direction: column; align-items: center">
                    <h1 class="mb-4"><span style="color: #1c80c3">Math</span><span style="color: black">Quiz</span></h1>
                    <div class="intro-text">
                        <h2>Xin chào!</h2>
                        <p>Nâng cao kỹ năng toán học của bạn với các bài kiểm tra trắc nghiệm của chúng tôi.
                            Dù bạn là học sinh chuẩn bị cho các kỳ thi hay chỉ là người đam mê toán học.
                            Hãy đăng ký ngay để thử thách kiến thức của bạn!</p>
                        <a href="/register" class="btn btn-primary m-t-5" style="border-radius: 5px" >Đăng ký</a>
                    </div>
                </div>

            </div>
            <div class="white-box" sec:authorize="isAuthenticated()">
                <h3 class="box-title m-b-20">Chọn đề thi</h3>
                <div class="row">
                    <div class="col-md-6">
                        <label for="level">Cấp học</label>
                        <div class="form-group">
                            <div id="levelButtons" class="btn-group">
                                <!-- Level buttons will be appended here -->
                                <th:block th:each="level : ${levels}">
                                    <button type="button" class="btn btn-outline-primary level-button" th:data-level-id="${level.id}" th:text="${level.name}"></button>
                                </th:block>
                            </div>
                        </div>
                        <label for="grade">Lớp</label>
                        <div class="form-group">
                            <div id="gradeButtons" class="btn-group">
                                <!-- Grade buttons will be appended here -->
                            </div>
                        </div>
                        <label for="mathType">Loại toán</label>
                        <div class="form-group">
                            <div id="mathTypeButtons" class="btn-group" style="display: none;">
                                <!-- MathType buttons will be appended here -->
                            </div>
                        </div>
                        <label for="chapter">Chương</label>
                        <div class="form-group">
                            <div id="chapterButtons" class="btn-group" style="display: none;">
                                <!-- Chapter buttons will be appended here -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="quizMatrixList">Chọn đề thi:</label>
                            <ul id="quizMatrixList" class="quiz-matrix-list">
                                <!-- Quiz matrices will be populated here -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-box" sec:authorize="isAuthenticated()">
                <div class="row align-items-start">
                    <div class="col">
                        <h3 class="box-title m-b-20">Đề mới cập nhật</h3>
                        <ol class="list-group list-group-numbered" id="newestQuiz"></ol>
                    </div>
                    <div class="col">
                        <h3 class="box-title m-b-20">TOP đề được làm nhiều nhất</h3>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button value="day" type="button" class="btn btn-outline-primary" onclick="periodClick('day')" id="quiz-day-btn">Theo ngày</button>
                            <button value="month" type="button" class="btn btn-outline-primary" onclick="periodClick('month')" id="quiz-month-btn">Theo tháng</button>
                            <button value="year" type="button" class="btn btn-outline-primary" onclick="periodClick('year')" id="quiz-year-btn">Theo năm</button>
                        </div>
                        <ol class="list-group list-group-numbered" id="quizMatrix-ranking"></ol>
                    </div>
                    <div class="col">
                        <h3 class="box-title m-b-20">Những thành viên tích cực</h3>
                        <div class="btn-group btn-group-toggle">
                            <button value="day" type="button" class="btn btn-outline-primary" onclick="mostActiveMemtime('day')" id="user-day-btn">Theo ngày</button>
                            <button value="month" type="button" class="btn btn-outline-primary" onclick="mostActiveMemtime('month')" id="user-month-btn">Theo tháng</button>
                            <button value="year" type="button" class="btn btn-outline-primary" onclick="mostActiveMemtime('year')" id="user-year-btn">Theo năm</button>
                        </div>
                        <ol class="list-group list-group-numbered" id="user-ranking"></ol>
                    </div>
                </div>
            </div>
        </div>
            <script src="/js/fetchHomeDropdown.js"></script>
            <!-- /.right-sidebar -->

        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<script th:inline="javascript">
    function newestQuizMatrix(){
        fetch('http://localhost:8080/api/quizmatrices/newest')
            .then(reponse=>reponse.json())
            .then(data=>{
                const nq = document.getElementById("newestQuiz");
                nq.innerHTML='';
                data.forEach(result=>{
                    const hf = `/quizMatrices/quizMatrixPreview?quizMatrixId=`+result[2];
                    const date = new Date(result[1]);
                    const formattedDate = date.toISOString().split('T')[0];
                    nq.innerHTML+= `<a href="${hf}" class="list-group-item">` + `${result[0]}` +` - `+ `${formattedDate}` + `</a>`;
                    })
            })
    }
    newestQuizMatrix();
</script>

<script th:inline="javascript">
    function periodClick(time){
        const period = time;
        const apiUrl = `http://localhost:8080/api/ranking/quizmatrix/${period}`;
        fetch(apiUrl)
            .then(response => response.json())
            .then(data=>{
                const qr = document.getElementById("quizMatrix-ranking");
                qr.innerHTML='';
                data.forEach(result=>{
                    const hf = `/quizMatrices/quizMatrixPreview?quizMatrixId=`+result[2];
                    // const li = document.createElement('li');
                    // li.textContent = `${result[0].getQuizMatrix().name} : ${result[1]}` + "times";
                    qr.innerHTML+= `<a href="${hf}" class="list-group-item">` +`${result[0]}:     ${result[1]}`+ ' lần được chọn' + `</a>`;
                });
            });
    }
    periodClick('year');
</script>
<script th:inline="javascript">
    function mostActiveMemtime(time){
        const period = time;
        const  apiUrl= `http://localhost:8080/api/ranking/users/${period}`;
        fetch(apiUrl)
            .then(response => response.json())
            .then((data=>{
                const ur = document.getElementById("user-ranking");
                ur.innerHTML='';
                data.forEach(result =>{
                    ur.innerHTML+= `<li class="list-group-item">` + `${result[0]}` + ` - ` + `${result[1]}` + ` lần làm bài test`+`</li>`;
                })
            }))
    }
    mostActiveMemtime('year');
</script>
<th:block th:replace="/libary/lib.html :: foot"></th:block>
</body>

</html>
