<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/libary/lib.html::head('Trang chủ')">
</head>
<style>
    .quiz-matrix-list {
        list-style-type: none;
        padding: 0;
    }

    .quiz-matrix-list li {
        margin-bottom: 5px;
    }

    .quiz-matrix-list li a {
        display: block;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }

    .quiz-matrix-list li a:hover {
        background-color: #e0e0e0;
    }
</style>
<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->
    <nav th:replace="/libary/lib.html::nav"></nav>
    <div th:replace="/libary/lib.html::left_side"></div>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="white-box">
                <h3 class="box-title m-b-20">Chọn đề thi</h3>
                <div class="row">
                    <div class="col-md-6">
                        <label for="level">Cấp học</label>
                        <div class="form-group">
                            <div id="levelButtons" class="btn-group">
                                <!-- Level buttons will be appended here -->
                                <th:block th:each="level : ${levels}">
                                    <button type="button" class="btn btn-outline-primary level-button" th:data-level-id="${level.id}" th:text="${level.name}"></button>
                                </th:block>
                            </div>
                        </div>
                        <label for="grade">Lớp</label>
                        <div class="form-group">
                            <div id="gradeButtons" class="btn-group">
                                <!-- Grade buttons will be appended here -->
                            </div>
                        </div>
                        <label for="mathType">Loại toán</label>
                        <div class="form-group">
                            <div id="mathTypeButtons" class="btn-group" style="display: none;">
                                <!-- MathType buttons will be appended here -->
                            </div>
                        </div>
                        <label for="chapter">Chương</label>
                        <div class="form-group">
                            <div id="chapterButtons" class="btn-group" style="display: none;">
                                <!-- Chapter buttons will be appended here -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="quizMatrixList">Chọn đề thi:</label>
                            <ul id="quizMatrixList" class="quiz-matrix-list">
                                <!-- Quiz matrices will be populated here -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-box">
                <div class="row align-items-start">
                    <div class="col">
                        <h3 class="box-title m-b-20">Recent update</h3>
                        <ol class="list-group list-group-numbered" id="newestQuiz"></ol>
                    </div>
                    <div class="col">
                        <h3 class="box-title m-b-20">Most taken test</h3>
                        <div class="row align-items-start">
                            <button value="day" type="button" class="btn btn-outline-primary" onclick="periodClick('day')" id="quiz-day-btn">Day</button>
                            <button value="month" type="button" class="btn btn-outline-primary" onclick="periodClick('month')" id="quiz-month-btn">Month</button>
                            <button value="year" type="button" class="btn btn-outline-primary" onclick="periodClick('year')" id="quiz-year-btn">Year</button>
                        </div>
                        <ol class="list-group list-group-numbered" id="quizMatrix-ranking"></ol>
                    </div>
                    <div class="col">
                        <h3 class="box-title m-b-20">Most active member</h3>
                        <div class="row align-items-start">
                            <button value="day" type="button" class="btn btn-outline-primary" onclick="mostActiveMemtime('day')" id="user-day-btn">Day</button>
                            <button value="month" type="button" class="btn btn-outline-primary" onclick="mostActiveMemtime('month')" id="user-month-btn">Month</button>
                            <button value="year" type="button" class="btn btn-outline-primary" onclick="mostActiveMemtime('year')" id="user-year-btn">Year</button>
                        </div>
                        <ol class="list-group list-group-numbered" id="user-ranking"></ol>
                    </div>
                </div>
            </div>
        </div>
            <script src="/js/fetchHomeDropdown.js"></script>
            <!-- /.right-sidebar -->

        <!-- /.container-fluid -->
        <footer th:replace="/libary/lib.html::footer"></footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<script th:inline="javascript">
    function newestQuizMatrix(){
        fetch('http://localhost:8080/api/quizmatrices/newest')
            .then(reponse=>reponse.json())
            .then(data=>{
                const nq = document.getElementById("newestQuiz");
                nq.innerHTML='';
                data.forEach(result=>{
                    const hf = `/quizMatrices/quizMatrixPreview?quizMatrixId=`+result[2];
                    const date = new Date(result[1]);
                    const formattedDate = date.toISOString().split('T')[0];
                    nq.innerHTML+= `<a href="${hf}" class="list-group-item">` + `${result[0]}` +`-`+ `${formattedDate}` + `</a>`;
                    })
            })
    }
    newestQuizMatrix();
</script>

<script th:inline="javascript">
    function periodClick(time){
        const period = time;
        const apiUrl = `http://localhost:8080/api/ranking/quizmatrix/${period}`;
        fetch(apiUrl)
            .then(response => response.json())
            .then(data=>{
                const qr = document.getElementById("quizMatrix-ranking");
                qr.innerHTML='';
                data.forEach(result=>{
                    const hf = `/quizMatrices/quizMatrixPreview?quizMatrixId=`+result[2];
                    // const li = document.createElement('li');
                    // li.textContent = `${result[0].getQuizMatrix().name} : ${result[1]}` + "times";
                    qr.innerHTML+= `<a href="${hf}" class="list-group-item">` +`${result[0]}:     ${result[1]}`+ 'lần được chọn' + `</a>`;
                });
            });
    }
    periodClick('year');
</script>
<script th:inline="javascript">
    function mostActiveMemtime(time){
        const period = time;
        const  apiUrl= `http://localhost:8080/api/ranking/users/${period}`;
        fetch(apiUrl)
            .then(response => response.json())
            .then((data=>{
                const ur = document.getElementById("user-ranking");
                ur.innerHTML='';
                data.forEach(result =>{
                    ur.innerHTML+= `<li class="list-group-item">` + `${result[0]}` + `-` + `${result[1]}` + `lần làm bài test`+`</li>`;
                })
            }))
    }
    mostActiveMemtime('year');
</script>
<th:block th:replace="/libary/lib.html :: foot"></th:block>
</body>

</html>
